<!DOCTYPE html><html lang="ja"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width"><title>View | Barba - にほんご。</title><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta property="og:title" content="View | Barba - にほんご。"><meta property="og:url"><meta property="og:type" content="article"><link rel="icon" href="https://tr.you84815.space/barba/favicon.ico"><link rel="stylesheet" href="../../css/main.css"><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-106478577-1', 'auto');</script></head><body><div id="container"><header></header><div class="navi" id="navi"></div><div id="content"><div id="main"><h1>View</h1><p>リンクをクリックすると、
各イベントを呼び出される順番に表示します。</p><br><div id="barba-wrapper"><div class="barba-container" data-namespace="homepage"><p>ページ2</p><p><a href="./1.html">ページ1を表示</a></p></div></div><div><span>結果：</span><span id="result"></span></div><h5>HTML</h5><h6>1.html</h6><pre><code><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"barba-wrapper"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"barba-container"</span> <span class="hljs-attr">data-namespace</span>=<span class="hljs-string">"homepage"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>ページ1<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"./2.html"</span>&gt;</span>ページ2を表示<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><h6>2.html</h6><pre><code><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"barba-wrapper"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"barba-container"</span> <span class="hljs-attr">data-namespace</span>=<span class="hljs-string">"homepage"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>ページ2<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"./1.html"</span>&gt;</span>ページ1を表示<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><h6>結果ブロック</h6><pre><code><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>結果：<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"result"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><h5>JavaScript</h5><pre><code>Barba.Pjax.start();
<span class="hljs-keyword">var</span> Homepage = Barba.BaseView.extend({
  <span class="hljs-attr">namespace</span>: <span class="hljs-string">'homepage'</span>,
  <span class="hljs-attr">onEnter</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-comment">// 新しいコンテナは準備が出来たタイミング。DOMに含まれています。</span>
    div = <span class="hljs-built_in">document</span>.createElement(<span class="hljs-string">'div'</span>);
    div.textContent = <span class="hljs-string">'onEnter : homepage'</span>;
    <span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">'result'</span>).appendChild(div);
  },
  <span class="hljs-attr">onEnterCompleted</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-comment">// ページ遷移が終了したタイミング。</span>
    div = <span class="hljs-built_in">document</span>.createElement(<span class="hljs-string">'div'</span>);
    div.textContent = <span class="hljs-string">'onEnterComplete: homepage'</span>;
    <span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">'result'</span>).appendChild(div);
  },
  <span class="hljs-attr">onLeave</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-comment">// 新しいページへの遷移が開始されたタイミング。</span>
    div = <span class="hljs-built_in">document</span>.createElement(<span class="hljs-string">'div'</span>);
    div.textContent = <span class="hljs-string">'onLeave: homepage'</span>;
    <span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">'result'</span>).appendChild(div);
  },
  <span class="hljs-attr">onLeaveCompleted</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-comment">// コンテナがDOMから削除されたタイミング。</span>
    div = <span class="hljs-built_in">document</span>.createElement(<span class="hljs-string">'div'</span>);
    div.textContent = <span class="hljs-string">'onLeaveCompleted: homepage'</span>;
    <span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">'result'</span>).appendChild(div);
  }
});

<span class="hljs-comment">// viewの初期化を忘れないで！</span>
Homepage.init();</code></pre><br></div></div><footer><span> &copy; <span id="copy_year">2017</span> tobijibu</span></footer></div><noscript id="deferred-styles"><link href="../../css/lazy.css" rel="stylesheet"></noscript><script src="../../js/main.js" defer></script><div id="src" hidden></div><script>window.addEventListener('load', function() {
  Barba.Pjax.start();
  var Homepage = Barba.BaseView.extend({
    namespace: 'homepage',
    onEnter: function() {
      // 新しいコンテナは準備が出来たタイミング。DOMに含まれています。
      div = document.createElement('div');
      div.textContent = 'onEnter : homepage';
      document.getElementById('result').appendChild(div);
    },
    onEnterCompleted: function() {
      // ページ遷移が終了したタイミング。
      div = document.createElement('div');
      div.textContent = 'onEnterComplete: homepage';
      document.getElementById('result').appendChild(div);
    },
    onLeave: function() {
      // 新しいページへの遷移が開始されたタイミング。
      div = document.createElement('div');
      div.textContent = 'onLeave: homepage';
      document.getElementById('result').appendChild(div);
    },
    onLeaveCompleted: function() {
      // コンテナがDOMから削除されたタイミング。
      div = document.createElement('div');
      div.textContent = 'onLeaveCompleted: homepage';
      document.getElementById('result').appendChild(div);
    }
  });

  // viewの初期化を忘れないで！
  Homepage.init();
});</script></body></html>